{{>header}}

<main>
  <h2 class="my-5 text-center">Bienvenido a la ruta restringida</h2>
  <p class="text-center">
    Tu email con el que inicias sesión es:
    <span class="fw-bold">{{{email}}}</span>
  </p>
</main>


